.signupcard
{
    background-color: black;
    width: 30vw;
    height: 30vw;
    margin-top: 8vw;
}
#signupshadow
{
    box-shadow: 5px 5px 20px 20px #05a359;
}
.signupmailtext 
{
    border-radius: 20px;
    font-size: 1vw;
    padding: 0.5vw;
    color: #000000;
    margin-top: 2vw;
}
.signuptextpassword
{
    border-radius: 20px;
    font-size: 1.5vw ;
    color: #000000;
    padding: 0.5vw;
    margin-top: 3.2vw;
}
::placeholder
{
    color: #000000;
}
.signupbackgroundbutton
{
    position: absolute;
    margin-top: 30vw;
    text-align: center;
}
#carddown
{
    margin-top: -3.5vw;
}
.title
{
    color: #05a359;
    text-align: center;
}