.signupcard
{
    background-color: black;
    width: 30vw;
    height: 30vw;
    margin-top: 8vw;
}
#signupshadow
{
    box-shadow: 5px 5px 20px 20px #2b0afe;
}
.signupmailtext 
{
    border-radius: 20px;
    font-size: 1.9vw;
    padding: 0.5vw;
    color: #000000;
    margin-top: 3vw;
}
.signuptextpassword
{
    border-radius: 20px;
    font-size: 1.9vw;
    color: #000000;
    padding: 0.5vw;
    margin-top: 4vw;
}
::placeholder
{
    color: #000000;
}
.signupbackgroundbutton
{
    position: absolute;
    margin-top: 25vw;
    
}
#carddown
{
    margin-top: 2vw;
}
.signuppp
{
    color: white;
    font-size: 1vw;
    text-decoration: none;
}