.homebackground {
    background-color: rgb(113, 5, 5);
    width: 60vw; /* Masaüstü için genişlik */
    height: auto; /* Yüksekliği otomatik ayarla */
    margin-top: 15vw; /* Üstten boşluk */
    text-align: center; /* Metinlerin ortalanması için */
    padding: 2vw; /* İçerik için boşluk ekle */
    box-sizing: border-box; /* Padding dahil toplam boyut için */
}

.homebackgroundtext {
    color: white;
    padding: 1vw;
}

.homebackgroundtext2 {
    color: white;
    padding: 1vw;
    font-weight: 100;
    margin-top: -2vw;
}

.homebackgroundbutton, .homebackgroundbutton2 {
    display: inline-block; /* Butonları yan yana göstermek için */
    margin: 1vw; /* Butonlar arasındaki boşluk */
    padding: 1vw 2vw; /* Buton içindeki metin için boşluk */
    width: calc(40% - 2vw); /* Butonların genişliğini ayarla */
    max-width: 200px; /* Butonların maksimum genişliğini belirle */
    box-sizing: border-box; /* Padding dahil toplam boyut için */
}

/* Responsive ayarlar */
@media (max-width: 768px) {
    .homebackground {
        width: 80vw; /* Mobilde genişliği artır */
        margin-top: 10vw; /* Üstten boşluk */
    }
    .homebackgroundbutton, .homebackgroundbutton2 {
        width: calc(100% - 2vw); /* Butonlar tam genişlikte olsun, kenarlarda boşluk bırak */
        margin: 1vw 0; /* Üst ve alt kenar boşluğu bırak */
    }
}
